
body{
    background-color: cadetblue;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
        height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}








.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }